_build/
doc/tutorial.key/
doc/tutorial.bak.key/
config
config-stamp
doc/api/
*.cmi
*.cmo
*.cma
*.annot
*.cmxa
*~
.depend
.merlin
HOWTO
CHANGELOG.html
README.html
lascar.install
lascar.opam
examples/*/*/*.dot
