_build/
docs/tutorial.key/
config
config-stamp
doc/api/
*.cmi
*.cmo
*.cma
*.annot
*.cmxa
*~
.depend
.merlin
HOWTO
CHANGELOG.html
README.html
examples/*/*/*.dot
examples/*/*/*.tex
src/utils/_doc/
lascar.opam
